#iframe1 {
	height: 500px;
	width: 940px;
	border: 1px solid #C4C4C4;
	padding: 4px;
	background: #FFF;
	margin-top: 10px;
}

h1 {

	font-weight: 200;
	margin: 0;
	color: #FFF;
	padding: 8px 0;
	text-shadow: 1px 1px #000;
}

#Header {
    text-decoration: none;
    color: #FFF;
}

#Facebook, #welcome {
	display: inline-block;
}

#Facebook{
	float: right;
}

h2, h3 {

	font-family: arial, sans-serif ;
	font-weight: 200;
	margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

body {
    background: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

#main {
	max-width: 960px;
	max-height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 25px
}

@media screen and (max-width: 960px) {
	#main {
		width: 100%;
	}
}


img {
	display: block;
    margin-left: auto;
    margin-right: auto;

	position: relative;
	height:50px; 
	width:150px;
	z-index: 2;
}

#Black-Background {
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: black;
	height: 50px;
	position: relative;
	z-index: 1;
}

#coursePickerForm input {
	margin : 10px;
}

header {
    height: 60px;
    background-color: rgb(54, 204, 17);
    border-bottom: 1px solid #CCC;
    box-shadow: 1px 2px rgba(218, 218, 218, 0.71);
}
.inner-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.fixed-status {
	width: 100%;
    margin: 0 auto;
    background-color: #8A8A8A;
    border-bottom: 1px solid #CCC;
    box-shadow: 1px 2px rgba(218, 218, 218, 0.71);
   	font-weight: 200;
	margin: 0;
	color: #FFF;
	padding: 8px 0;
	text-shadow: 1px 1px #000;
}

#strokes {
	float: left;
}

#coursePath {
	float: right;
	width: 800px;
	height: 15px;
	text-align: right;
}

#inner-div {
	max-width: 960px;
	margin: auto;
    overflow: hidden;
}

#wikiContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    line-height: 1.5em;
}

#wikiContent a {
	text-decoration: none;
	color: rgb(6, 128, 45);
	border-radius: 2px;
	background-color: #CCCCCC;
	transition: background-color .1s linear;
	text-shadow: -1px 1px rgba(255, 255, 255, 0.46);
}

li {
    list-style-type: none;
    float: left;
    margin: 5px 10px 5px 0;
}
a:hover {
    background-color: #8A8A8A;
}
.Float-Left {
    margin: 10px 0;
}

#submitButton {
    background: #F00;
    background: #fff;
    border-bottom-color: #ccc;
    border-radius: 3px;
    border: solid 1px #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    color: #888;
    cursor: pointer;
    font: inherit;
    font-size: 11px;
    
    margin: 0 -1px 0 0;
    padding: 4px 0;
    text-align: center;
    background-color: #767E76;
    transition: background .2s linear;
	border-color: #53CA3C;
    
    border-top-color: #36B21F;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    
    color: #F1F1F1;
    padding: 5px 20px;
    font-size: 1.4em;
    text-shadow: 1px 1px #2C2C2C;
}

#submitButton:hover {
    box-shadow: 0 6px -1px rgba(0,0,0,0.08)aliceblue;
    background: rgb(50, 165, 50);
}