#iframe1 {
	height: 500px;
	width: 940px;
	border: 1px solid #C4C4C4;
	padding: 4px;
	background: #FFF;
	margin-top: 10px;
}

h1 {

	font-weight: 200;
	margin: 0;
	color: #FFF;
	padding: 8px 0;
	text-shadow: 1px 1px #000;
}

h2 {

	font-family: arial, sans-serif ;
	font-weight: 200;
}

body {
    background: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

#main {
	max-width: 960px;
	max-height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 25px
}

@media screen and (max-width: 960px) {
	#main {
		width: 100%;
	}
}


img {
	display: block;
    margin-left: auto;
    margin-right: auto;

	position: relative;
	height:100px; 
	width:300px;
	z-index: 2;
}

#Black-Background {
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: black;
	height: 100px;
	position: relative;
	z-index: 1;
}

#coursePickerForm input {
	margin : 10px;
}

header {
    /* height: 50px; */
    background-color: rgb(54, 204, 17);
    border-bottom: 1px solid #CCC;
    box-shadow: 1px 2px rgba(218, 218, 218, 0.71);
}
.inner-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

li a {
    /* list-style-type: none; */
    padding: 5px 10px;
    /* margin: 10px; */
    /* float: left; */
    text-decoration: none;
    color: rgb(107, 141, 0);
    border-radius: 4px;
    background-color: #E7E7E7;
    transition: background-color .1s linear;
}

li {
    list-style-type: none;
    float: left;
    margin: 10px 10px 10px 0;
}
li a:hover {
    background-color: #CCC;
}
.Float-Left {
    margin: 10px 0;
}

.coursePickerSubmit {
	-moz-box-shadow:inset 0px 0px 0px -17px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px -17px #bee2f9;
	box-shadow:inset 0px 0px 0px -17px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63EE84), color-stop(1, #58A21F) );
	background:-moz-linear-gradient( center top, #67CF46 5%, #468ccf 100% );

	-moz-border-radius-topleft:24px;

	-moz-border-radius-topright:24px;


	-moz-border-radius-bottomright:24px;

	-moz-border-radius-bottomleft:24px;

	display:inline-block;
	color:white;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size:23px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	width:154px;
	text-decoration:none;
	text-align:center;
}