<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src='../static/js/mainpage.js'></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/maintheme.css') }}" />
	<script src ='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
	<script src ='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
	<script src="../static/js/main.js"></script>

	<script src="../static/js/models/user.js"></script>
	<script src="../static/js/models/course.js"></script>
	<script src="../static/js/collections/courses.js"></script>
	<script src="../static/js/collections/users.js"></script>
	<script src="../static/js/views/Courses_View.js"></script>

	<script src="../static/js/views/user_view.js"></script>
	<script src="../static/js/views/startFinishView.js"></script>
	<script src="../static/js/views/courseItemview.js"></script>
	<script src="../static/js/views/courseTitle.js"></script>
	<script src="../static/js/views/coursePath.js"></script>
	<script src="../static/js/routers/router.js"></script>

	<script>$( document ).ready(function () {
		$("#coursePickerForm").submit(function(e){
    		return false;
			});
		$('#submitButton').on('click', function () {
			var buttonVal = $('input[type="radio"]:checked').val();
			if (buttonVal) {
				APP.router.navigate('#course/' + buttonVal, {trigger: true, replace: true})
			} else {
				return false;
			}
			})
		});

	</script>

	<title>wikiGolf</title>

</head>
<body>
	<header>
  		<div class="inner-wrapper">
          <h1 id="welcome"> Welcome to <a href="/" id="Header">wikiGolf</a></h1>
          <img src="static/img/fblogin.png" id="Facebook"/>
          <div id="strokes"></div>
      </div>
  </header>
  	<h2 id="instructions">Pick a course and try to get from one Wikipedia page to another with as few links as possible. </h2>
	
	<div id="startFinish">
	</div>

	<div id="wikiTitle">
	</div>

	<div id="coursePath">
	</div>

	<div id="main">
		<div id="courseForm">
			<form id="coursePickerForm">
				
				<label for= "coursePicker1">
					<input type="radio" name="course" value="par1" id="coursePicker1">Par 1 
				</label><br>
				<label for= "coursePicker2">
					<input type="radio" name="course" value="par2" id="coursePicker2">Par 2
				</label><br>
				<label for= "coursePicker3">
					<input type="radio" name="course" value="par3" id="coursePicker3">Par 3
				</label><br>
				<label for= "coursePicker4">
					<input type="radio" name="course" value="random" id="coursePicker4">Random
				</label><br>
				<input type="submit" value="Tee Off !" id="submitButton" class= "coursePickerSubmit">
				

			</form>
		</div>




	<div id="linksGoHere">
	</div>

	</div>
		<footer>
			<div id= "Black-Background"><img  src="static/img/Logo.png" alt="wikiGolf"  id="logo"/></div>
		</footer>
</body>
</html>
